@charset "UTF-8";

body{
	color:white;
	background-color:lightskyblue;
}
h1{
	text-align: center;
	margin-top: 100px;
	margin-bottom:50px;
}

.content{
	text-align: center;
}

#table{
	margin:auto;
	width:500px;
}

#image{
	height:200px;
	width:180px;
}
#imgCenter{
	text-align: center;
}