@charset "UTF-8";

body{
	color:white;
	background-color: lightskyblue;
}

h1{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

#table{
	margin:auto;
}

.label{
	text-align:center;
	width:150px;
}
.content{
	text-align: center;
	width:500px;
	height:150px;
}

p{
	text-align: center;
	margin-top: 50px;
}