<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head >
<meta charset="UTF-8">
<title>Menu</title>
<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	
<p>さん</p>

<form method="post">

<h1><button class="button"  formaction="/emp/list">従業員一覧</button></h1>

<h2><button class="button" name="state" value="new" formaction="EmployeeController">従業員登録</button></h2>

<h3><button class="button" name="state" value="new" formaction="ItemController">商品登録</button></h3>

<h4><button class="button"  formaction="/security/logout">ログアウト</button></h4>

</form>

</body>
</html>